.orderForm {
  width: 560px;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
  font-family: cursive;
}

.orderFormWrapper {
  padding: 30px;
  background-color: #f4f4f4;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.userName {
  height: 38px;
  padding: 0 15px;
  color: #999;
  font-family: cursive;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  outline: none;
  width: 100%;
  // margin-bottom: 10px;
}

.userAge {
  height: 38px;
  padding: 0 15px;
  color: #999;
  font-family: cursive;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  outline: none;
  width: 100%;
  // margin-bottom: 10px;
}

.adressToOrder {
  height: 38px;
  padding: 0 15px;
  color: #999;
  font-family: cursive;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  outline: none;
  width: 100%;
  // margin-bottom: 10px;
}
.phoneNumber {
  height: 38px;
  padding: 0 15px;
  color: #999;
  font-family: cursive;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  outline: none;
  width: 100%;
  // margin-bottom: 10px;
}
.h1 {
  margin-bottom: 30px;
  font-size: 40px;
}
.checkoutButton {
  font-family: cursive;
  width: 100%;
  border: 5px solid #15a544;
  background-color: #12a844;
  border-radius: 10px;
  display: block;
  padding: 7px;
  font-weight: bold;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(35, 201, 46);
  color: white;
}
.label {
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

.errorMessage {
  display: block;
  font-size: 10px;
  color: red;
}
